body {
    display: flex;    
    background: rgb(51, 51, 51);
    overflow: hidden;
    margin:0;
    user-select: none;
}

.main-container {
    width:100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    display:flex;

    flex-direction: column;
    row-gap: 30px;
    text-align: center;
    background:url('media/background.webp');
    font-family: 'roboto'; 
}

.pack-div {
    width: 600px;
    height: 80px;
    background: rgba(255, 255, 255, 0.9);
    border-radius:10px;
    padding: 10px;    
    align-items: center;
    text-align: center;
    line-height: 400%;
    justify-content: center;
    margin: 0 auto;
    font-size:20px;    
    display:flex;
    flex-direction: row;
    column-gap: 20px;
    
}

.plus-info {
    width: 20px;
    height: 20px;
    background: rgb(46, 46, 46);
    color:white;
    padding: 10px;    
    font-size:20px;
    align-items: center;
    text-align: center;
    border-radius:10px;
}

.payment-info {
    width: 20px;
    height: 20px;
    background: rgb(46, 46, 46);
    color:white;
    padding: 10px;    
    font-size:18px;
    align-items: center;
    text-align: center;
    border-radius:10px;
}

.plus-info:hover, .payment-info:hover {
    background: rgb(148, 148, 148);
}

.main-div {
    width: 600px;
    height: 500px;
    background: rgba(255, 255, 255, 0.9);
    border-radius:10px;
    padding: 10px;    
    align-items: center;
    text-align: center;
    margin: 0 auto;   
}

.question-div {
    width: 600px;
    height: 80px;
    background:rgb(46, 46, 46);
    line-height: 250%;    
    font-size:30px;
    color:white;    
    border-radius: 10px;
}

.video-div {
    width: 400px;
    height: 300px;    
    margin-top: 20px;
}


.yes-button, .no-button {
    width: 250px;
    height: 60px;
    color:white;
    border-radius: 10px;
    line-height: 250%;    
    font-size:25px;
    text-align: center;
}

.yes-button {
    background:green;   
    margin-top:30px;
    margin-left:20px;
}

.yes-button:hover {
    background: rgba(0,255,0,1)
}

.no-button {
    background:rgb(255, 0, 0);
    left: 970px;    
    position:absolute;
    top: 712px;
}

.no-button:hover {
    background: rgb(255, 72, 0);
}

@media only screen and (max-width: 900px) {    

    .pack-div {
        width: 90%;
        height: 40px;
        column-gap: 10px;       
        line-height: 400%;
        font-size:12px;    

    }
    
    .plus-info {
        width: 15px;
        height: 15px;        
    }
    
    .payment-info {
        width: 15px;
        height: 15px;   
        font-size:15px;     
    }
    
    
    .main-div {
        left: 10px;
        height: 500px;
        width: 90%;
        top: 20px;      
        background: rgba(255, 255, 255, 0.75);          
    }

    .question-div {
        width: 100%;
        font-size: 16px;
        height: 50px;
        line-height: 300%;
    }
    
    .video-div {
        width: 100%;
        height: 300px;
        margin-top: 20px;
    }

    .yes-button, .no-button {
        height: 40px;
        width: 150px;
        line-height: 150%;
    }

    .no-button {        
        left: 210px;
        top: 618px;
    }
}


@media (min-width: 1001px) and (max-width: 1300px) {
    .main-container {
        zoom: 53%;
    }

    .no-button {        
        left: 1240px;
        top: 923px;
    }

}

@media (min-width: 1301px) and (max-width: 1400px) {
    .main-container {
        zoom: 70%;
    }

    .no-button {        
        left: 1010px;
        top: 794px;
    }

}

@media (min-width: 1401px) and (max-width: 1599px) {
    .main-container {
        zoom: 80%;
    }

    .no-button {        
        left: 930px;
        top: 808px;
    }

}

@media (min-width: 1600px) and (max-height: 900px) {
    .main-container {
        zoom: 80%;
    }

    .no-button {        
        left: 1030px;
        top: 808px;
    }

}

@media (min-width: 1600px) and (min-height: 1024px) {
    .main-container {
        zoom: 80%;
    }

    .no-button {        
        left: 1030px;
        top: 885px;
    }

}

@media (min-width: 1600px) and (min-height: 1050px) {
    .main-container {
        zoom: 80%;
    }

    .no-button {        
        left: 1030px;
        top: 901px;
    }

}

@media (min-width: 1791px) and (min-width: 2560px) {
    .main-container {
        zoom: 100%;
    }

}